{% extends 'master.html' %}
{% load static %}

{% block body %}

{% include 'navbar.html' %}

<section id="hero_area">
    <div class="inner_hero container">
        <form class="" action="" method="post" novalidate>
          {% csrf_token %}

          {% if form.non_field_errors %}
           {% for error in form.non_field_errors %}
             <p> {{error}}</p>
           {% endfor %}
          {% endif %}

          {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
          {% endfor %}

          <input type="submit" name="" value="Save">

        </form>
    </div>
</section>

{% endblock %}