
{% load static %}
<div id="mobile_menu"></div>
    <header class="header_area">
       <div id="main_header_area">
           <div class="inner_header container">
                <div class="logo_area">
                    <a href="dashboard.html"><img src="{% static 'img/logo1.png' %}" alt="Logo"></a>
                </div>
                <div class="menu_area">
                        <ul>
                            <li><a href="{% url 'home' %}">Dashboard</a></li>
                            <li><a href="{% url 'feedback' %}">Feedback</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                </div>
            </div>
       </div>
    </header>
